*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #FFE1AF;
}
p, h1{
    font-family: 'Balsamiq Sans', cursive;
}
.container-header{
    display: flex;
    height: 100px;
    background-color: #C6D57E;
}
.header-left, .header-right{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-wrap{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.nav-icon{
    width: 64px;
}
.header-img{
    height: 100%;
    margin-left: 25px;
}
.container-left-nav{
    position: fixed;
    left: 15px;
    top: 115px;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
.breed-header{
    width: 340px;
    height: 90px;
    border: 3px solid #C6D57E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 15px;
}
.breed-btn{
    width: 340px;
    height: 60px;
    background-color: #C6D57E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}
.container-cat{
    margin: 50px 40px 40px 400px
}
.cat-header{
    height: 85px;
    background-color: #A2CDCD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.cat-block{
    display: flex;
    flex-direction: row;
}
.cat-img{
    width: 23%;
}
.cat-discription{
    width: 54%;
    text-indent: 1em;
    line-height: 28.8px;
    font-size: 24px;
}
.cat-img{
display: flex;
flex-direction: column;
align-items: center;
}
.cat-img img{
    display: block;
    height: 50%;
}
.cat-img img:first-child{
    margin-bottom: 15px;
}
.cat-block{
    background-color: #D57E7E;
}
